.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  color: #dfcec7;
  font-weight: bold;
  /* text-shadow: 2px 2px 2px rgb(116, 165, 213); */
  background: linear-gradient(180deg, #095b93 60%, #3771bb 75%, #6f89d4 90%);
}

.headerTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headerName {
  color: #ffcc57;
  text-shadow: none;
  font-size: 6rem;
  font-style: italic;
  font-weight: 700;
  padding: 1rem 0 1rem 0;
}

.nameHighlight {
  color: #e95018;
  text-shadow: 2px 2px 0 #ffcc57;
}

.headerDescription {
  font-size: 1.8rem;
}

#svg1 {
  position: absolute;
  bottom: 0;
}

#svg2 {
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 830px) {
  .headerName {
    font-size: 2.5rem;
  }
  .headerDescription {
    font-size: 1.2rem;
  }
}
