.navbar {
  height: 5rem;
  width: 100vw;
  margin: 0 auto;
  padding: 1rem 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: rgb(13, 23, 68, 0.2);
  color: rgb(227, 235, 238);
  backdrop-filter: blur(2px);
}

.navMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navTitle {
  cursor: pointer;
}

.navMenuItem {
  font-weight: bold;
  padding: 1rem 0rem;
  margin: 0rem 2rem;
  cursor: pointer;
}

.navMenuItem:hover {
  color: #ffcc57;
  border-bottom: 3px solid #ffcc57;
}

.active {
  color: #ffcc57;
}

.navHamburger {
  display: none;
  padding: 0.6rem 0.8rem;
  border-radius: 0.5rem;
  background-color: rgb(199, 231, 231);
}

.navHamburgerOpen {
  background-color: #ffcc57;
}

.hamburgerBar {
  width: 2.1rem;
  height: 0.3rem;
  border-radius: 1rem;
  background-color: #095b93;
  margin: 6px 0;
  transition: 0.2s;
}

.navHamburgerOpen > .hamburgerBar:nth-child(1) {
  transform: translate(0, 0.7rem) rotate(-45deg);
}

.navHamburgerOpen > .hamburgerBar:nth-child(2) {
  opacity: 0;
}

.navHamburgerOpen > .hamburgerBar:nth-child(3) {
  transform: translate(0, -0.7rem) rotate(45deg);
}

@media screen and (max-width: 830px) {
  .navHamburger {
    display: block;
    cursor: pointer;
  }

  .navMenu {
    display: none;
    position: absolute;
    top: 5rem;
    width: 100vw;
    left: 0;
    flex-direction: column;
    background-color: #ffcc57;
  }

  .navMenuOpen {
    display: flex;
    top: 5rem;
  }

  .navMenuItem {
    color: #095b93;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 2rem 0;
    font-size: 1.5rem;
  }

  .navMenuItem:hover {
    color: #095b93;
    border-bottom: none;
  }

  .navMenu > .navMenuItem:not(:last-child) {
    border-bottom: solid 3px #c0570c;
  }
}
